(ssl_config) {
    tls {
        protocols tls1.2 tls1.3
    }
}

https://{NILCC_PROXY_HOSTNAME} {
    import ssl_config

    handle_path /nilcc/* {
      reverse_proxy http://nilcc-attester:59812
    }

    reverse_proxy /* {NILCC_PROXY_TARGET}
}
