[Unit]
Description=Nillion CVM agent.

[Service]
Type=simple
ExecStart=/opt/nillion/cvm-agent /media/cvm-agent-entrypoint

[Install]
WantedBy=multi-user.target
