{
    servers {
        protocols h1 h2
    }
}

https://{NILCC_PROXY_HOSTNAME} {
    tls {
        protocols tls1.2 tls1.3
        issuer acme {
            dir https://acme.zerossl.com/v2/DV90
            eab {$CADDY_ACME_EAB_KEY_ID} {$CADDY_ACME_EAB_MAC_KEY}
            timeout 5m
        }
    }

    handle_path /nilcc/* {
      reverse_proxy http://nilcc-attester
    }

    reverse_proxy /* {NILCC_PROXY_TARGET}
}
